@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  body {
      line-height: 1.6;
      margin: 0;
      min-height: 100vh;
      background: #fece0c;
      
    }
  
ul {
        margin: 0;
        padding: 0;
        list-style: none;
        
      }
      
      h2, h3, a {
        color: #34495e;
      }
      
      a {
        text-decoration: none;
      }
      


/* ================================= 
  Nav bar
==================================== */

  .logo {
    margin: 0;
    font-size: 1.45em;
  }
  
  .main-nav {
    position: sticky;
    margin-top: 5px;
  }
  .logo a,
  .main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
  }
  
  .main-nav a {
    color: #34495e;
    font-size: 0.99em;
  }
  
  .main-nav a:hover {
    background-color: gainsboro ;
    color: #718daa;
  }
  
  .header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  /* ================================= 
  Footer
==================================== */

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 25%;
    }
    .content-footer {
      background: #000000;
      padding: 2em;
      border-top: 8px solid #EDEDED;
      color: #EDEDED;
    }
    
    .content-footer > p {
      line-height: 1.3em;
      text-align: center;
      font-size: 2em;
    }
    
    .social {
      text-align: center;
      padding: 0;
    }
    
    .social > li {
      display: inline-block;
      line-height: 1.3em;
      margin-right: 2em;
      font-size: 2em;
    }
    a {
      color: #EDEDED;
      text-decoration: none;
    }
    
    a:hover {
      color: #262626;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    
    .social li:last-child {
      margin-right: 0;
    }
  
  /* ================================= 
    Media Queries
  ==================================== */
  
  @media (min-width: 769px) {
    .header,
    .main-nav {
      display: flex;
    }
    .header {
      flex-direction: column;
      align-items: center;
        width: 80%;
        margin: 0 auto;
        max-width: 1150px;
    }
  }
  
  @media (min-width: 1025px) {
    .header {
      flex-direction: row;
      justify-content: space-between;
    }
  }
/* ================================= 
  Formulär
==================================== */

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(254,236,164,1); 
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #fece0c;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}